@import url('./styles/animations.css');
@import url('./styles/arabic.css');
@import url('./styles/print.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-width: 6px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--bc) / 0.2) transparent;
  }

  *::-webkit-scrollbar { width: var(--scrollbar-width); }
  *::-webkit-scrollbar-track { background: transparent; }
  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--bc) / 0.2);
    border-radius: 9999px;
  }

  body {
    @apply text-base-content;
  }
}

@layer utilities {
  .truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
